################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kernel Simulator/v16/Server/sqlite3/storage.ide-wal
/.vs/Kernel Simulator/v16/Server/sqlite3/storage.ide-shm
/.vs/Kernel Simulator/v16/Server/sqlite3/storage.ide
/.vs/Kernel Simulator/v16/Server/sqlite3/db.lock
/.vs/Kernel Simulator/v16/Server/sqlite3
/.vs/Kernel Simulator/v16/.suo
/.vs/
